:root{
    --background-imagery: url(../../Assets/evolment-gameplay-2.png);
}
*{
    margin: 0;
}

#background-overlay {
    background-image: var(--background-imagery);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    position: fixed;
    z-index: -1;

    left: 0;
    top: 0;

    width: 100%;
    height: calc(1vh * 100); /* 100% of dynamic viewport height */

    filter: blur(0.75px);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

    gap: 5vh;

    width: 80vw;
    margin: 5vh auto;
}

#button-container {
    display: flex;
    width: 100%;
}

.btn {
    background-color: white;
    border: 1px solid black;
    color: black;

    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 1vh 0;
}

.btn:hover {
    background-color: white;
    border: 1.5px solid white;
}

#back-btn {
    width: 30%;
}

#display-container {
    position: relative;
    box-sizing: border-box;

    height: 40vh;
    width: 100%;

    background-color: rgba(255, 255, 255, 0.7);
    border: 3px solid white;
}

.slide{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -1rem;
    width: auto;
    background-color: black;
    padding: 0.1em;
    color: white;

    font-size: 2rem;
    font-weight: bold;
}
.next {
    right: 0;
}
.prev{
    left: 0;
}
.prev:hover, .next:hover {
    background-color: darkgray;
}


#play-btn {
    width: 100%;
}

section {
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid black;

    width: 100%;

    padding: 2vh 0;
}

.info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}

#description-section {
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

section p {
    margin: 0 4vw;
}

#description-section {
    justify-content: left;
}

.team-member {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.team-member h3 {
    border-bottom: solid 2px black;
}

.links-container {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    margin-top: 0.5rem;
}


/* || Icons */
.icon{
    width: 1rem;
    height: 1rem;

    padding: 1rem;

    background-size:contain;
    background-repeat: no-repeat;
}

.instagram-icon{
    background-image: url("../../Assets/Icons/instagram-icon.png");
}
.itch-icon{
    background-image: url("../../Assets/Icons/itch-icon.png");
}
.facebook-icon{
    background-image: url("../../Assets/Icons/facebook-icon.png");
    min-width: 16px;
    min-height: 16px;
}
.linkedin-icon{
    background-image: url("../../Assets/Icons/linkedin-icon.png");
    background-size: cover;
    background-color: white;
    border-radius: 5px;
}
.website-icon{
    background-image: url("../../Assets/Icons/website-icon.png");
}
.artstation-icon{
    background-image: url("../../Assets/Icons/artstation-icon.png");
    background-size: cover;
}
.x-icon{
    background-image: url("../../Assets/Icons/x-icon.png");
}

/* || Footer */
footer{
  background-color: black;
  color: white;
  padding: 5vh 3vw 5vh 3vw;
}
footer a{
  color: lightblue;
}
.footer-nav{
  display: flex;
  flex-direction: row;

  border-top: solid 2px white;
  margin: 5% 0;
}
.footer-container{
  display: flex;
  flex-direction: column;
  
  margin: 0 2%;
  width: 100%;
  height: 100%;
}
.footer-container h3{
  margin: 1vh 0;
}

#footer-border{
  border-left: solid 2px white;
  margin: 0 3vw;
}

.footer-projects-list{
  list-style-position: inside;
  padding: 0;
}
footer li{
  list-style-type: disc;
  padding-left: 0;
}
footer li:first-child{
  list-style-type: none;
}
.social-media-container {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    margin-top: 5%;
}

/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */

/* Minimum width for iPads and tablets.  */
@media all and (min-width: 481px) {
	
} /* closes 481px+ */



/* Minimum width for laptops. */
@media all and (min-width: 769px) {
    .container{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 25% 25% 25% 25%;
        gap: 0;

        height: 90vh;
    }
    #button-container{

    }
    #display-container{
        grid-column: 1 / span 2;
        grid-row: 1 / span 3;

        height: 100%;
    }
    #play-btn{
        grid-column: 1 / span 2;
        width: 25%;
        padding: 2rem;
    }
    #description-section{
        grid-column: 3 / span 1;
        grid-row: 1 / span 2;
        padding: 1rem;
    }
    #description-section p{
        margin: 0;
    }
    #dev-date-info{
        grid-column: 4 / span 1;        
        grid-row: 1 / span 2;
        margin: 0;
    }
    #purpose-info{
        grid-column: 4 / span 1;        
        grid-row: 2 / span 1;

    }
    #team-info{
        grid-column: 3 / span 2;
        grid-row: 3 / span 3;
    }
    
    .info-section {
        gap: 0;
        height: auto;
    }
    section{
        width: 80%;
    }

} /* closes 769px+ */



/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {
	
  
} /* closes 1024px+ */