:root{
    --background-imagery: url(../../Assets/evolment-gameplay-2.png);
}

body {
}

#background-overlay {
    background-image: var(--background-imagery);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    position: fixed;
    z-index: -1;

    left: 0;
    top: 0;

    width: 100%;
    height: calc(var(1vh) * 100); /* 100% of dynamic viewport height */

    filter: blur(0.75px);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

    gap: 5vh;

    width: 80vw;
    margin: 0 auto;
}

#button-container {
    display: flex;
    width: 100%;
}

.btn {
    background-color: white;
    border: 1px solid black;
    color: black;

    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 1vh 0;
}

.btn:hover {
    background-color: white;
    border: 1.5px solid white;
}

#back-btn {
    width: 30%;
}

#display-container {
    position: relative;
    box-sizing: border-box;

    height: 40vh;
    width: 100%;

    background-color: rgba(255, 255, 255, 0.7);
    border: 3px solid white;
}
.slide{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -1rem;
    width: auto;
    background-color: black;
    padding: 0.1em;
    color: white;

    font-size: 2rem;
    font-weight: bold;
}
.next {
    right: 0;
}
.prev{
    left: 0;
}
.prev:hover, .next:hover {
    background-color: darkgray;
}


#play-btn {
    width: 100%;
}

section {
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid black;

    width: 100%;

    padding: 2vh 0;
}

.info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#description-section {
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

section p {
    margin: 0 4vw;
}


#description-section {
    justify-content: left;
}

.team-member {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.links-container {
    display: flex;
    flex-direction: row;
    gap: 2vw;

}

.icon{
    width: 1rem;
    height: 1rem;

    padding: 1rem;

    background-size:contain;
    background-repeat: no-repeat;
}

/* Icons */
.instagram-icon{
    background-image: url("../../Assets/Icons/instagram-icon.png");
}
.itch-icon{
    background-image: url("../../Assets/Icons/itch-icon.png");
}
.facebook-icon{
    background-image: url("../../Assets/Icons/facebook-icon.png");
    min-width: 16px;
    min-height: 16px;
}
.linkedin-icon{
    background-image: url("../../Assets/Icons/linkedin-icon.png");
    background-size: cover;
    background-color: white;
}
.website-icon{
    background-image: url("../../Assets/Icons/website-icon.png");
}
.artstation-icon{
    background-image: url("../../Assets/Icons/artstation-icon.png");
    background-size: cover;
}
.x-icon{
    background-image: url("../../Assets/Icons/x-icon.png");
}