:root {
    --yellow-bg-col: tan;
    --yellow-border-col: gold;

    --info-bg-col: white;
    --info-border-col: black;

    --sky-col: #e8fcff;
}

* {
    margin: 0;
}

html {
    background-color: black;
}

#background-gif {
    background-image: url(../../Assets/hero-page-gif.gif);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;

    height: calc(1vh * 100);
    /* 100% of dynamic viewport height */
    width: 100%;

    z-index: -1;
    position: fixed;
    left: 0;
    top: 0;
}

#button-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.yellow-box {
    background-color: var(--yellow-bg-col);
    border: 10px solid var(--yellow-border-col);
}

.btn {
    padding: 0.5rem 10vw;
    color: black;
    font-size: 1.5rem;
    text-decoration: none;
}


/* || Profile Picture */
#profile-pic {
    width: 100%;
    aspect-ratio: 1/1;
}

#profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}



/* || Icons */
.icon {
    width: 1rem;
    height: 1rem;

    padding: 1rem;

    background-size: contain;
    background-repeat: no-repeat;
}

.instagram-icon {
    background-image: url("../../Assets/Icons/instagram-icon.png");
}

.itch-icon {
    background-image: url("../../Assets/Icons/itch-icon.png");
}

.facebook-icon {
    background-image: url("../../Assets/Icons/facebook-icon.png");
    min-width: 16px;
    min-height: 16px;
}

.linkedin-icon {
    background-image: url("../../Assets/Icons/linkedin-icon.png");
    background-size: cover;
    background-color: white;
    border-radius: 5px;
}

.no-link-icon {
    width: 3rem;

    margin-right: 1rem;
    aspect-ratio: 1/1;
}


/* || Info Section */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;

    margin: 10vh auto;

    width: 80vw;
}

.info-section-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    background-color: white;
    border: 1px solid black;

    padding: 2vh 0;
    width: 100%;
}

.info-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
}

#email-info {
    justify-content: center;
}

#link-row {
    justify-content: space-around;
}

#blurb-container {
    display: flex;
    flex-direction: column;

    gap: 0.5rem;

    padding: 5%;
}

#email-link {
    color: black;
    font-size: 1rem;
}


/* || Sections */
section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem
}


/* || Degree Section*/
#degree-section {
    gap: 1vh;
}

.degree {
    width: 100%;
    height: 50vh;
    background-color: white;
    border: 5px solid black;
}



/* || Certifications Section*/
#udemy-certs-section {
    gap: 1vh;
}

.udemy-certs-header {
    background-color: white;
    border: 5px solid black;

    text-align: center;
    width: 50%;
    padding: 1rem 0;
}

.udemy-certs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;

    width: 100%;

}

.udemy-cert {
    width: 100%;
    border: 1px solid black;
}

.udemy-cert img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.degree {
    width: 100%;
    height: 100%;
    border: 1px solid black;

    display: flex;
}

.degree img {
    width: 100%;
}


/* || Footer */
footer {
    background-color: black;
    color: white;
    padding: 5vh 3vw 5vh 3vw;
}

footer a {
    color: lightblue;
}

.footer-nav {
    display: flex;
    flex-direction: row;

    border-top: solid 2px white;
    margin: 5% 0;
}

.footer-container {
    display: flex;
    flex-direction: column;

    margin: 0 2%;
    width: 100%;
    height: 100%;
}

.footer-container h3 {
    margin: 1vh 0;
}

#footer-border {
    border-left: solid 2px white;
    margin: 0 3vw;
}

.footer-projects-list {
    list-style-position: inside;
    padding: 0;
}

footer li {
    list-style-type: disc;
    padding-left: 0;
}

footer li:first-child {
    list-style-type: none;
}

.social-media-container {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    margin-top: 5%;
}

/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */

/* Minimum width for iPads and tablets.  */
@media all and (min-width: 481px) {}

/* closes 481px+ */



/* Minimum width for laptops. */
@media all and (min-width: 769px) {
    #right-column {

    }
    #left-column {

    }
}

/* closes 769px+ */



/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {}

/* closes 1024px+ */