:root{
  --sky-col: #e8fcff;
  --ocean-col: #00c3ff;
}

@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&display=swap');

*{
    margin: 0;
}
body{
    background-color: var(--sky-col);
}

.name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-container {
  display: flex;
  flex-direction: column;
  gap: 0.2em;

  margin: 0 auto;
  padding: 1em;
  width: 50%;

  border: solid 1px black;
  background-color: transparent;
}

h1,h3{
  font-family: "Grenze Gotisch", serif;
}
h1{
  font-size: 4rem;
  line-height: 4rem;
}
h3{
}

#hero-section {
  background-image: url(../Assets/hero-page-gif.gif);
  background-size: cover;

  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
}


#transition-section {
  height: 100vh;
  background-color: var(--ocean-col);
  background: linear-gradient(
    to bottom,
    var(--ocean-col),
    var(--ocean-col) 25%,
    /* transparent 75% */
    black 100%
  );
}

#project-section {
  background-color: black;
  /* background-repeat: repeat-x; */
  /* display: flex;
  flex-direction: column;
  gap: 2em; */
  display: flex;
  flex-direction: column;
  gap: 20vh;
  height: 100%;
}
#submarine-image {
  background-image: url(../Assets/submarine-gif.gif);
  background-size: contain;
  background-repeat: no-repeat;
  
  width: 300px;
  height: 300px;
}


.project-section-title {
  text-align: center;
  border: solid 1px black;
  color: white;
  font-size: 3rem;
  /* text-decoration: underline; */
}
.projects-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20vh;
}

.project{
  width: 80vw;
  border: solid 5px lightblue;
  height: 50vh;
}
.project img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.upper {
  display: inline-block;
  font-size: 150%;
}
/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */

/* Minimum width for iPads and tablets.  */
@media all and (min-width: 481px) {
	
} /* closes 481px+ */



/* Minimum width for laptops. */
@media all and (min-width: 769px) {
	#hero-section{
    background-size: cover;
  }
	
	
	
} /* closes 769px+ */



/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {
	
  #hero-section{
    background-size: 100%;
  }
	
	
} /* closes 1024px+ */