:root{
  --sky-col: #e8fcff;
  --ocean-col: #00c3ff;
}

@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&display=swap');

*{
    margin: 0;
}
body{
    background-color: var(--sky-col);
}

.btn{
    padding: 0.5rem 10vw;
    color: black;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;

    margin: 0 auto;

    background-color: tan;
    border: 10px solid gold;
}

.name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-container {
  display: flex;
  flex-direction: column;
  gap: 0.2em;

  margin: 0 auto;
  padding: 1em;
  width: 50%;

  border: solid 1px black;
  background-color: transparent;
}

h1,h3{
  font-family: "Grenze Gotisch", serif;
}
h1{
  font-size: 4rem;
  line-height: 4rem;
}


/* || Hero Section */
#hero-section {
  background-image: url(../Assets/hero-page-gif.gif);
  background-size: cover;

  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  gap: 20vh;
}
#about-me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
}


/* || Transition Section */
#transition-section {
  height: 100vh;
  background-color: var(--ocean-col);
  background: linear-gradient(
    to bottom,
    var(--ocean-col),
    var(--ocean-col) 25%,
    /* transparent 75% */
    navy 100%
  )
}



/* || Projects Section */
#project-section {
  background-color: navy;
  display: flex;
  flex-direction: column;
  gap: 20vh;
  height: 100%;

  padding: 15vh 0;
}
/* #submarine-image {
  background-image: url(../Assets/submarine-gif.gif);
  background-size: contain;
  background-repeat: no-repeat;
  
  width: 300px;
  height: 300px;
} */
.project-section-title {
  text-align: center;
  border: solid 5px white;
  padding: 1rem;
  color: white;
  font-size: 3rem;
}
.projects-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5vh;
}



/* || Project Cards */
.project-card{
  width: 60vw;
  border: solid 5px lightblue;
  height: 50vh;
}
.project-card-inner{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}
.project-card-front{
  z-index: 4;
  transition: 3s;
}
.project-card-back, .project-card-back h1, .description, .project-card-back a{
  z-index: 3;
}
.project-card-back{
  width: 100%;
  height: 100%;

  color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.project-card-back-img{
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;

  filter: brightness(30%);
}
.project-card-back a{
  margin-bottom: 5%;
  text-align: right;
}
.description{
  text-align: left;
  margin: 0 10%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.project-card-front, .project-card-back{
  position: absolute;
  width: 100%;
  height: 100%;
}
.project-card-inner:hover .project-card-front{
  animation-name: project-fade-out;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
.project-card-front img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.upper {
  display: inline-block;
  font-size: 150%;
}



/* || Footer */
footer{
  background-color: black;
  color: white;
  padding: 5vh 3vw 5vh 3vw;

}
footer a{
  color: lightblue;
}
.footer-nav{
  display: flex;
  flex-direction: row;

  border-top: solid 2px white;
  margin: 5% 0;
}

.footer-container{
  display: flex;
  flex-direction: column;
  
  margin: 0 2%;
  width: 100%;
  height: 100%;
}
.footer-container h3{
  margin: 1vh 0;
}

#footer-border{
  border-left: solid 2px white;
  margin: 0 3vw;
}

.footer-projects-list{
  list-style-position: inside;
  padding: 0;
}
footer li{
  list-style-type: disc;
  padding-left: 0;
}
footer li:first-child{
  list-style-type: none;
}

.social-media-container {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    margin-top: 5%;
}
.icon{
    width: 1rem;
    height: 1rem;

    padding: 1rem;

    background-size:contain;
    background-repeat: no-repeat;
}
.instagram-icon{
    background-image: url("../Assets/Icons/instagram-icon.png");
}
.itch-icon{
    background-image: url("../Assets/Icons/itch-icon.png");
}
.facebook-icon{
    background-image: url("../Assets/Icons/facebook-icon.png");
    min-width: 16px;
    min-height: 16px;
}
.linkedin-icon{
    background-image: url("../Assets/Icons/linkedin-icon.png");
    background-size: cover;
    background-color: white;
    border-radius: 5px;
}

@keyframes project-fade-out {
  0%   {opacity: 1;}
  20%  {opacity: 0;}
  100% {z-index: 1;}
}
@keyframes project-fade-in {
  0%   {opacity: 0;}
  20%  {opacity: 1;}
  100% {z-index: 4;}
}

/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */

/* Minimum width for iPads and tablets.  */
@media all and (min-width: 481px) {
	
} /* closes 481px+ */



/* Minimum width for laptops. */
@media all and (min-width: 769px) {
	#hero-section{
    background-size: cover;
  }
	
	
	
} /* closes 769px+ */



/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {
	
  #hero-section{
    background-size: 100%;
  }
	
	
} /* closes 1024px+ */