@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&display=swap');

*{
    margin: 0;
}

.name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-container {
  display: flex;
  flex-direction: column;
  gap: 0.2em;

  margin: 0 auto;
  padding: 1em;
  width: 25%;

  border: solid 1px black;
}

h1,h3{
  font-family: "Grenze Gotisch", serif;
}
h1{
}
h3{
}

#hero-section {
  background-image: url(../Assets/hero-page-gif.gif);
  background-size: cover;
}

#project-section {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.project-section-title {
  text-align: center;
  border: solid 1px black;
}
.projects-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}



.upper {
  display: inline-block;
  font-size: 150%;
}
/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */

/* Minimum width for iPads and tablets.  */
@media all and (min-width: 481px) {
	
} /* closes 481px+ */



/* Minimum width for laptops. */
@media all and (min-width: 769px) {
	#hero-section{
    background-size: cover;
  }
	
	
	
} /* closes 769px+ */



/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {
	
	
	
	
} /* closes 1024px+ */